@import '../../../scss/all';

.form {
  @include column(12);

  @include media-breakpoint-up(md) {
    @include column(6);

    padding-left: 2em;
  }

  box-sizing: border-box;
  padding-left: 0;
}

.request {
  @include paper();
}
